/* Хедер */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 293px;
}

.nav-logo-block {
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-left: 50px;
  font-family: "Raleway", Arial;
  font-size: 18px;
  gap: 11px;
}

.main-menu {
  display: flex;
  gap: 34px;
  margin-left: 20px;
  padding: 0;
  text-decoration: underline;
  list-style-type: circle;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 50px;
  font-family: "Raleway", Arial;
  font-size: 18px;
}

.contact-list {
  text-decoration: underline;
  list-style-type: none;
}

/* Герой-секция */
.hero-banner {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr) 65px 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 165px 50px 50px 50px;
}

.hero-word {
  z-index: 2;
  color: white;
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.hero-word:nth-child(1) {
  grid-column: 1 / span 3;
  margin-left: 14px;
}
.hero-word:nth-child(2) {
  grid-column: 4 / span 4;
  margin-left: 30px;
}
.hero-word:nth-child(3) {
  grid-column: 7 / span 4;
  margin-left: 46px;
}

.hero-action {
  z-index: 2;
  display: flex;
  grid-column: 1 / span 10;
  grid-row: 5 / span 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.hero-subtitle {
  word-spacing: 18px;
}

.cta-button {
  height: 100%;
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
}

/* Лоты */
.auction-section {
  margin-top: 180px;
}

.section-title {
  margin-left: 64px;
  color: black;
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.auction-list {
  display: flex;
  justify-content: space-between;
  max-width: 1052px;
  margin: 27px auto 0;
}

.auction-item {
  width: 33%;
  max-width: 334px;
}

.auction-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 596px;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-heading {
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  z-index: 2;
  font-size: 20px;
  color: white;
}

.film-lot {
  background-image: url("../images/card-lot-01.jpg");
}
.book-lot {
  background-image: url("../images/card-lot-02.jpg");
}
.painting-lot {
  background-image: url("../images/card-lot-03.jpg");
}

.see-more {
  margin-top: 31px;
  margin-left: 63px;
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

/* О секции */
.about-section {
  display: flex;
  gap: 72px;
  margin-top: 120px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 32px;
  margin-left: 71px;
  border-radius: 50%;
  background-color: black;
}

.about-logo img {
  height: 114px;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin-top: 133px;
  font-size: 20px;
}

.about-heading {
  margin-top: 12px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about-paragraph {
  line-height: 24px;
}
.first-paragraph {
  margin-top: 110px;
}
.second-paragraph {
  margin-top: 24px;
}

/* Футер */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 182px;
  padding: 0 50px 82px;
}

.footer-menu {
  width: 164px;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

.menu-link {
  font-size: 18px;
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.social-links ul {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.social-icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.youtube {
  background-image: url("../images/yt.svg");
}
.vk {
  background-image: url("../images/vk.svg");
}
.pinterest {
  background-image: url("../images/pinterest.svg");
}

/* пуш для проверки тестов */
